/*GENERAL=======================================================================================*/
body{
    background-color: aliceblue;
    margin:0;
    padding: 0;
}
.header{
    position: relative;
    padding-top:6vh;
    padding-left:2vw;
    height:20vh;
    background-color: gray;
    border: none none solid 5px black;
}
.header > a{
    text-decoration: unset;
    color:white;
    font-weight: 500;
    font-size: xx-large;
    
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 0vw;
    padding-right:3vw;
    column-gap: 3vw;
    max-width: 100vw;
    width:93vw; 
    padding-top:2vh;
}
.boxholder{
    flex:1;
    min-width: 0;
}

.welcomebox{
    margin-top: 1vw;
    height:20vw;
    background-color: white;
    border: double 10px black;

    border-radius: 2vh;
}
label, a{
    font-size: x-large;
    text-decoration: underline;
}
/*LANDING PAGE===================================================================================*/

.landing{
    width:50vw;
    height:30vw;
    margin-left: 25vw;
    margin-top:35vh;
    
}
/*WELCOME PAGE===================================================================================*/



/*CONTACTS =======================================================================================*/
.all{
    display: flex;
    flex-direction: row;
}
.sidebar{
    background-color: lightgray;
    width:22vw;
    height:100vh;
    padding-left: 2vw;
}








