{% extends 'base.html' %}

<!-- This is how we fill the Title Block of our base html -->
{% block title %}Contacts{% endblock %}

<!-- TThis is how we fill the Content Block of our base html -->
{% block content %}

<!-- The content is wrapped inside a column with specific Bootstrap classes for styling -->
  <!-- A lead paragraph with some text -->
   <div class = "header">
    <a href = "/Welcome">PhoneBook<a>
    </div>
    <div class = "all">
        <div class = "sidebar">
        </div>
        <div class = "container">
            <div class = "boxholder">
                <a href = "/Contacts">Contacts</a>
                <div class = "welcomebox">

                    <form action="/SubmitContact/{{contact[0]}}" method="POST">
                        <table>
                            <tr>
                                <td>
                                    <label for="first">FirstName:</label>
                                    <input value="{{contact[2]}}" type="text" id="first" name="first">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="last">LastName:</label>
                                    <input value="{{contact[3]}}" type="text" id="last" name="last">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="email">Email:</label>
                                    <input value="{{contact[4]}}" type="text" id="email" name="email">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="phone">Phone:</label>
                                    <input value="{{contact[5]}}" type="text" id="phone" name="phone">
                                </td>
                            </tr>
                           
                            <tr>
                                <td>
                                    <label for="residence">Residence:</label>
                                    <input value="{{contact[6]}}" type="text" id="residence" name="residence">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="company">Company:</label>
                                    <input value="{{contact[7]}}" type="text" id="company" name="company">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="birthday">Birthday:</label>
                                    <input value="{{contact[8]}}" type="date" id="birthday" name="birthday">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="friendshipscore">Score:</label>
                                    <input value="{{contact[10]}}" type="text" id="friendshipscore" name="friendshipscore">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="description">Description:</label>
                                    <input value="{{contact[11]}}" type="text" id="description" name="description">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <button type="submit">Submit</button>
                                </td>
                            </tr>
                        </table>
                    </form>


                </div>
            </div>       
        </div>
    </div>


<!-- End of content block -->
{% endblock %}