<!-- This HTML file extends the base.html template, inheriting its structure and styles -->

{% extends 'base.html' %}

<!-- This is how we fill the Title Block of our base html -->
{% block title %}Landing{% endblock %}

<!-- TThis is how we fill the Content Block of our base html -->
{% block content %}

<!-- The content is wrapped inside a column with specific Bootstrap classes for styling -->
<div class="container">
  <!-- A lead paragraph with some text -->
   <h1>Welcome to your PhoneBook</h1>
  <ul>
    <li>
        <p>Login:</p>
        <form action="/Submit" method="POST">
            <input type="text" name="username"> 
            <input type="password" name="password">
            <input type="submit" value="Send">
        </form>
    </li>
</ul>

</div>

<!-- End of content block -->
{% endblock %}
