<!-- This HTML file extends the base.html template, inheriting its structure and styles -->

{% extends 'base.html' %}

<!-- This is how we fill the Title Block of our base html -->
{% block title %}Landing{% endblock %}

<!-- TThis is how we fill the Content Block of our base html -->
{% block content %}

<!-- The content is wrapped inside a column with specific Bootstrap classes for styling -->
  <!-- A lead paragraph with some text -->
<div class = "landing">
    <h1>Welcome to your PhoneBook</h1>
    <div class = "land">
        <label>Login:</label>
        <form action="/Submit" method="POST">
            <input type="text" name="username"> 
            <input type="password" name="password">                
            <input type="submit" value="Send" id = "submitbut">
        </form>
    </div>
</div>




<!-- End of content block -->
{% endblock %}
