{% extends 'base.html' %}

<!-- This is how we fill the Title Block of our base html -->
{% block title %}Welcome{% endblock %}

<!-- TThis is how we fill the Content Block of our base html -->
{% block content %}

<!-- The content is wrapped inside a column with specific Bootstrap classes for styling -->
  <!-- A lead paragraph with some text -->
   <div class = "header">
    <h1>Welcome {{username}}</h1>
   </div>
<ul>
    <div class = "container">
        <label>
            Contacts
            <div class = "welcomebox">
            </div>
        </label>
        <label>
            Birthdays
            <div class = "welcomebox">
            </div>
        </label>

    </div>
</ul>


<!-- End of content block -->
{% endblock %}